
header{
    
    margin: 0 auto 15px auto;
    padding: 15px;
    color: #FFFFFF;
    font-family: 'Wendy One', sans-serif;
}

#img{
    width: 100px;
    margin: 0;
    padding: 0;
}
#resultado{
    padding: 5px;
    margin: 100px;
    background: #238F8F;
    color: white;
}
td{
    background: #1CC7DA;
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 50px;
    height: 50px;
    border: 2px solid white;
}

body{
    background: url("../img/paisaje.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}